.Home_Container {
        min-height: 100vh;
        min-width: 100vw;
        background-color: transparent;
        color: rgb(125, 125, 158);
        font-size: 5rem;
        z-index: 1;
        /*overflow-y: scroll;*/
    }
