.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.motion-teste {
    background: white;
    border-radius: 30px;
    /*Dimensões*/
    width: 500px;
    height: 500px;  
    margin-top: 200px;
    /*Content*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*Text*/
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .motion-teste div,
  .motion-teste li {
    background: black;
    border-radius: 30px;
    /*Dimensões*/
    --motion-teste-div-width: 250px;
    --motion-teste-div-height: 250px;
    width: var(--motion-teste-div-width);
    height: var(--motion-teste-div-height);  
    /*Content*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 10px;*/
    /*Posiçao*/
    position: relative;
    top: calc( var(--motion-teste-div-bt-height) - 2px );
    /*Text*/
    color: rgb(88, 79, 79);
    font-size: 1.5rem;
  }

  .motion-teste div.bt {
    /*background: linear-gradient(rgb(169, 14, 184),rgb(64, 40, 196));*/
    background: rgb(48, 59, 99);
    /*Dimensões*/
    --motion-teste-div-bt-width: 100px;
    --motion-teste-div-bt-height: 50px;
    width: var(--motion-teste-div-bt-width);
    height: var(--motion-teste-div-bt-height);  
    /*Content*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*Posiçao*/
    position: relative;
    left: calc( var(--motion-teste-div-bt-width)*0.5 - var(--motion-teste-div-width)*0.5 + -10px );
    /*Text*/
    color: rgb(138, 128, 128);
    font-size: 1.2rem;
  }