.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.motion-teste {
    background: white;
    border-radius: 30px;
    /*Dimensões*/
    width: 500px;
    height: 500px;  
    /*Content*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Text*/
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
  }
  
  .motion-teste div,
  .motion-teste li {
    background: black;
    border-radius: 30px;
    /*Dimensões*/
    width: 250px;
    height: 250px;  
    /*Content*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    /*Text*/
    color: white;
    font-size: 1.5rem;
  }