.Footer {
    grid-area: Footer;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 15vh;
    max-height: 15vh;
    --FooterHeight: 15vh;
    z-index: 2;
    position: fixed;
    text-align: center;
    top: calc(100vh - var(--FooterHeight));
}
.Footer_item {
    font-size: 1.5rem;
    margin: 0 1em;
    list-style-type: none;
}
.Footer_item:hover {
    font-size: 1.6rem;
    color: rgb(64, 133, 110);
}

@media (max-width: 500px) {
    .Footer {
       
    }
 }