.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App div {
  margin-right: 10px;
}
