.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(rgb(175, 29, 155) -150%,black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  /*
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
}

.App div {
  /*margin-right: 10px;*/
}
